body {
	width: 100%;
	background-color: #eeecea;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	text-align: left;
}

/* Nav bar style */
nav ul li a {
	color: #000;
	text-decoration: none;
}
nav ul li a:visited { color: #000; }
nav ul li a:hover { color: #b82868; }

/* Header style */
header {
	width: 100%;
	min-height: 200px;
	background: url("../unit1_projects/images/Chicago_Skyline_at_Sunset-small.png");
	top: 0;
	left: 0;
	position: fixed;
	box-shadow: inset 0 0 3em #c0c0c0;
	box-shadow: 0 0 3em #202020;
}

header h1 {
	text-align: left;
	text-indent: 12.5%;
	text-shadow: 0 0 0.1em #fefaff, 0 0 0.1em #efefef;
	font-size: 3.4em;
	margin-bottom: 0;
	padding: 0;
	background: none;
	color: #000;
}

header nav {
	float: right;
	margin-right: 14.5%;
	color: #000;
	padding: 0;
	background-color: rgba(200, 200, 200, 0.35);
	text-shadow: 0 0 0.18em #737b7b, 0 0 0.15em #0c0c0c;
	border-radius: 20px;
}

header nav ul{
	list-style-type: none;
	text-transform: bold;
	padding: .5em;
	margin: 0;
	display: inline-block;
	color: #000;
}

header nav li {
	display: inline-block;
	padding: 0 1em;
	color: #000;
}

/* Headings */
h1 {
	font-family: 'Lobster', sans-serif;
	text-align: center;
	color: #fefaff;
	background-color: #339999;
	padding: .5em;
}

h1#projects { box-shadow: inset 0 0 1em #117777;}
h1#recent-blogs { box-shadow: inset 0 0 1em #117777;}

h2 { text-align: center; margin-top: 200px;}
h2, h3 {
	padding: .75em;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2.picture { padding-top: 120px;}

/* General text */
p {
	padding: 1em;
	margin: 0 2%;
	display: block;
	text-align: left;
	clear: both;
}

p.date {
	padding: 1em;
	text-align: right;
	font-weight: bold;
}

p em {
	color: #388e8e;
	font-weight: 500;
}

blockquote {
	background: rgba(200, 190, 170, 0.15);
	padding: 1em;
	text-align: justify;
	border-left: #ac5c9c 2px dotted;
}

/* Specific links */
a {text-decoration: none;}
p a, blockquote a { color: #cc3366;}
p a:visited, blockquote a:visited { color: #cc3366; text-decoration: none; }
p a:hover, blockquote a:hover { color: #ee8800; }


ul a {color: #cc3366; text-decoration: none; }
ul a:visited {color: #cc3366;}
ul a:hover {color: #ee8800;}
ul img {max-width: 103px}

/* More basic settings */
img { 
	display: block;
	width: 60%;
	margin: 1em auto;	
}

section{
	min-height: 500px;
} 
section:after {

  content: "";
  display: table;
  clear: both;
}

/* Content wrappers */
#wrapper {
	width: 75%;
	min-height: 515px;
	height: auto !important;
	height: 100%;
	margin: 190px auto -2.2em;
	background: #fbfafc;
}

#center-wrapper {
	margin: auto 20%;
}
#center-wrapper ul { list-style-type: none; }
#center-wrapper ul a { color: #000; }
#center-wrapper ul a:hover { color: #00cc99; }

/* Specific blog image */
.blogs {
	background: #a8d707;
	float: left;
	max-height: 350px;
	width: 40%;
	margin: 4%;
	padding: .5%;
	display: block;
}

article.blogs img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 1em auto;
}

/* Specific projects */
.projects {
	background: #a8d707;
	float: left;
	max-height: 250px;
	width: 27.33%;
	margin: 2.5%;
	padding: .5%;

}

.projects img {
	width: 100%;
	display: block;
	margin: 1em auto;
}

article.projects img:hover {
	background-image: #000;
}

/* Feet */
footer, .push {
	background-color: #404040;
	clear: both;
	width: 100%;
	height: 2em;
	text-align: center;
	font-size: .8em;
	color: #fefaff;
	padding: 0.5em;
	box-shadow: inset 0 0 1em #202020;
	/*position: bottom;*/
}

.push {
	background-color: #fbfafc;
	box-shadow: none;
	width: 75%;
}
/* Extra-textual */
.greenboldtext {
	color: #517e01;
	font-weight: bold;
}

@media screen and (max-width: 600px) {

	#wrapper {
		width: 420px;
	}
	#center-wrapper {
		margin: auto 84px -2.2em;
	}
	.projects {
		background: #a8d707;
		max-height: 250px;
		width: 88%;
		margin: 3% 4%;
	}

	.projects img { 
		display: block;
		width: 100%;
		height: 30px;
		margin: 5px auto;
	}


	header h1 {text-align: center; text-indent: 0;}
	header nav ul { margin: 0 auto;}
	header nav {float: none; text-align: center; margin: 0 auto; border-radius: 0;}

}

@media screen and (max-width: 450px){
	header {width: 100%;}
	header nav {float:left; display: block;}
	header h1 {text-align: center; text-indent: 0;}
	header nav ul { margin: 0 auto;}
	header nav {float: none; text-align: center; margin: 0 auto; border-radius: 0; }

	footer{width: 100%; height: 2em; padding: 0.5em;}
	#wrapper {width: 90%; margin: 8em auto -2.2em;}
	#center-wrapper {width:85%;margin: 9em auto ;}
}
@media screen and (min-width: 1200px){
	#wrapper { width: 900px; }

}
